@import url('https://fonts.googleapis.com/css2?&family=Archivo&family=Archivo:wght@400&family=Plus+Jakarta+Sans&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
    
code {
font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page .btn{
    margin: 10px;
    background-color: rgba(52, 124, 224, 0.3);
    border: none;
}

.page .btn:hover{
    background-color: rgba(230, 150, 90, 0.8);
}

.layout{
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%
}

.section{
    font-family: 'Archivo', 'sans-serif';
    padding-top: 5%;
    padding-left: 25%;
    padding-right: 20%;
    padding-bottom: 5%
}

.highlight{
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, rgba(52, 124, 224, 0.3) 50%);
}

.light{
    background-color: rgba(255, 255, 255, 0.85);
    color: rgba(0, 0, 0, 0.7);
}

.dark{
    color: rgba(255, 255, 255, 0.7);
}

.section h1{
    font-family: 'Plus Jakarta Sans', 'sans-serif';
    letter-spacing: 10px;
    font-weight: 600;
}

.section h2{
    font-family: 'Plus Jakarta Sans', 'sans-serif';
    font-size: 35px;
    font-weight: 600;

}

.section h3{
    font-family: 'Plus Jakarta Sans', 'sans-serif';
    font-size: 25px;
    font-weight: 600;
}

.section a{
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, rgba(52, 124, 224, 0.3) 50%);
    color:inherit;
    text-decoration:none;
}

.section a:hover{
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, rgba(230, 150, 90, 0.5) 50%);
    color:inherit;
}

.section p{
    font-size: 20px;
    font-weight: 100;
}

/* Front Page Header */
.namecard{
    position:absolute;
    top:35vh;
    left:0px;
    width: 100%;
    float: left;
    margin-bottom: 10%;
    padding-left: 25%;
}

.title{
    background-image: url("../images/purkinje.png");
    background-size:cover;
    background-position:fixed;
    background-position-x:0;
    z-index: -1;
}

.namecard h1{
    font-family: 'Archivo', sans-serif;
    font-weight: 300;
    letter-spacing: 8px;
    font-size: 60px;
    color: rgba(255, 255, 255, 0.7); 
}

.sidenav {
    font-family: 'Archivo', sans-serif;
    position: fixed;
    z-index: 1;
    top: 35vh;
    left: 50px;
    overflow-x: hidden;
    padding: 8px 0;
}
  
.sidenav a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 3px;
    color: rgba(120, 120, 120, 1);
    display: block;
}
  
.sidenav a:hover {
    text-decoration: none; 
    font-size: 22px;
    color: rgba(155, 155, 155, 1);
}
  
.sidenav a:active{
    font-size: 22px;
    color: rgba(255, 255, 255, 0.9);
}



/* Pages */
.page h1{
    letter-spacing: 5px !important;
}


.page{
    min-height: 100vh;
    background-color: "#021024";
}

.page h3{
    padding-top: 20px;
}

.page li{
    font-size: 20px;
}

.pagecode{
    padding: 10%;
    background-color: rgba(52, 124, 224, 0.1);
}

.dots{
    background-image: url("../images/dots.svg");
    background-size:cover;
    background-position:fixed;
    background-repeat: no-repeat;
}

.page .snippet{
    display: none;
}

.snippetblock h3{
    display: none;
}
    
